.titles{
    font-family:"Segoe UI";
    font-size: 12px;
}
.boldtitles{
    font-family:"Segoe UI";
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.contents{
    font-family:"Segoe UI";
    font-size:10px;
    vertical-align: center;
}
.changedContents{
    font-size:10px;
    vertical-align: center;
    background: lightblue;
}
.frozenContents{
    font-size:10px;
    vertical-align: center;
    color: whitesmoke;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        background-color: #aaaaaa;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #FFB14B;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #434343;
        box-shadow: -80px 0 0 80px #FFB14B;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #FFB14B;
}
input[type="range"]::-moz-range-track {
    background-color: #aaaaaa;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #FFB14B;
}
input[type="range"]::-ms-fill-upper {
    background-color: #aaaaaa;
}
